<!DOCTYPE html>
<html lang="nl">
<%- include ('../view/partials/head') %>

<body class="profiel">
    <%- include ('../view/partials/header') %>

    <main>
        <section>
            <h1>WELKOM OP <%= data.username %> PROFIEL</h1>
        </section>
        <div>
            <div>
                <img src="../static/images/dog1.jpg">
            </div>
            <form method="post" action="/profile/submit">
                <label for="id">Gebruikersnaam</label>
                <input  type="text" id="id" name="username" value="<%= data.username %>">

                <label for="id">E-mail</label>
                <input  type="mail" id="id" name="email" value="<%= data.email %>">

                <label for="id">Wachtwoord</label>
                <input  type="password" id="id" name="wachtwoord" value="">

                <input type="submit" value="bewerken opslaan">
            </form>
        </div>
        <a href="/profile/logout">Uitloggen</a>
    </main>
</body>

</html>